<!DOCTYPE html>
<html>
  <head>
    <title>SnsApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= form_tag posts_path, :method => 'get' do %>
      <p>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :title => nil %>
      </p>
    <% end %>

    <header>
      <div class="header-logo">
        <li>
          <%= link_to("TOP","/") %>
        </li>
      </div>

      <ul class="header-menus">
        <li>
          <%= link_to("about","/about") %>
        </li>
        <li>
          <%= link_to("ユーザー一覧","/users/index") %>
        </li>
        <li>
          <%= link_to("新規投稿","/posts/new") %>
        </li>
        <li>
          <%= link_to("投稿一覧","/posts") %>
        </li>
        <li>
          <%= "ログイン" %>
        </li>
        <li>
          <% if user_signed_in? %>
            <p><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></p>
          <% end %>
        </li>
      </ul>
    </header>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
